name: Publish Pages

on:
    workflow_call:

jobs:
    publish-pages:
        name: Publish Pages
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - uses: actions/checkout@v4

            - uses: actions/download-artifact@v4
              with:
                  name: coverage-badge
                  path: badges

            - uses: actions/download-artifact@v4
              with:
                  name: coverage-report
                  path: coverage

            - uses: actions/download-artifact@v4
              with:
                  name: docs
                  path: docs

            - name: Prepare gh-pages
              run: |
                  mkdir public
                  cp -r coverage badges docs public/

            - name: Publish to GitHub Pages
              uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: ./public
